.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #eee;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .container1 {
    flex-direction: column;
  }
}
.left-part {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.people {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.circles-part {
  list-style-type: none;
  padding: 0;
  margin-right: 30px;
  display: flex;
}
.circle {
  margin-right: -15px;
  background-color: rgba(2, 23, 49, 0.2);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  border-color: aliceblue;
  border-width: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid whitesmoke;
}
.circle-blue {
  background-color: rgb(83, 43, 226);
}
.people-text {
  margin-top: 20px;
}
.button-video {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.play-video {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
}
.video-text {
  margin-top: 10px;
  margin-left: 10px;
}
.playbutton {
  border: 3px solid rgb(178, 169, 213);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.proposal {
  border-radius: 30px;
  background-color: rgb(90, 90, 120);
  color: aliceblue;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  font-family: "roboto";
}
.explore-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.orange-text {
  color: orange;
}
.explore-text {
  margin-top: 40px;
  color: black;
}
@media screen and (max-width: 768px) {
  .rightimage {
    width: 500px;
    height: 400px;
  }
}
.rightimage {
  width: 800px;
  height: 570px;
}
.achievements {
  margin-right: 40px;
}
