* {
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.bgContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: center;
}
.cardListContainer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.headingContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 600px;
}
.heading {
  font-family: "inter", sans-serif;
  font-size: 45px;
  font-weight: 900;
  color: #171f46;
}
.paragraph {
  font-family: "inter", sans-serif;
  font-size: 18px;
  color: #858585;
}

.head2 {
  color: white;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 5px 10px;
}
.head3 {
  color: black;
}
.head4 {
  color: #5b688c;
}
.head6 {
  font-family: "inter", sans-serif;
  margin: 0px;
  margin-bottom: 10px;
}
