@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.list-item {
  list-style-type: none;
}
.navbar {
  display: flex;
  height: 10vh;
  align-items: center;
  flex-direction: row;
  color: white;
  padding: 0px 20px;
  box-shadow: rgba(50, 50, 93, 0.23) 0px 30px 30px -20px;
  background-color: #0c111f;
  position: fixed;
  width: 100vw;
  z-index: 2;
  top: 0;
  /*box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;*/
}

.nav-links {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-links li {
  color: white;

  padding: 10px 30px;
  cursor: pointer;
  /*  text-transform: capitalize; */
  font-size: 16px;

  padding: 10px 20px;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 15px;
  margin-top: 14px;
  font-weight: 500;
}
.nav-links li:hover {
  color: #6b7eb1;
}
.hero {
  text-align: center;
  margin-top: 15%;
}
.hero h1 {
  text-align: center;
  font-size: 80px;
}
.mobile-menu-icon {
  display: none;
  color: white;
}
button {
  border: none;
  text-decoration: none;
  font-size: 16px;
  background: none;
}
@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;

    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: #0c111f;
  }
  ul li {
    padding: 20px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
    color: white;
  }
  ul li:hover {
    color: #6b7eb1;
  }
  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }
  .hero h1 {
    font-size: 50px;
  }
}

.contact-button {
  background-color: rgba(37, 73, 137, 1);
  color: white;
  padding: 5px 15px 5px 15px;
  border: 0.5px solid white;
  border-radius: 30px;
  font-size: 15px;
}

.contact-button {
  background-image: linear-gradient(to right, #ffffff, #fff741);
  color: #234581;
  padding: 10px 20px;
  border: 0px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
